@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-100: #161117;

  scrollbar-width: thin;
  scrollbar-color: #34967c #88888886 !important;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #34967c;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  font-size: 1rem;
  font-family: 'Quicksand', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 90rem;
  margin-inline: auto;
}

.font-source-sans {
  font-family: 'Source Sans 3', serif;
}

button,
a {
  @apply text-nowrap;
}
